body {
  min-height: 100vh;
  position: relative;
}

.fe-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mr-auto {
  margin-right: auto;
}

.w-0 {
  width: 0%;
}

.fe-devis-container {
  border: 1px solid;
  padding: 10px;
}