.bloc1-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.bloc3-img {
  height: 250px;
  object-fit: cover;
}

.bloc5-container-picto {
  width: 100px;
  height: 100px;
  background-color: #cfcfcf;
  padding: 20px;
  border-radius: 1000px;
  margin-bottom: 20px;
}