<div id="fakeFooter"></div>
<footer class="bg-dark text-center text-white py-3 fe-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <img src="{{ asset('build/img/logo.png') }}" class="w-100" alt="logo la forge des énigmes">
            </div>
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 d-grid">
                <h5 class="text-uppercase mt-3">Contactez-nous</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <span class="text-white">37 rue denuzière, 69002 LYON</span>
                    </li>
                    <li>
                        <span class="text-white">06.75.56.22.66</span>
                    </li>
                    <li>
                        <a href="mailto:capucine.madoulaud@next-u.fr" class="text-white text-decoration-none">capucine.madoulaud@next-u.fr</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
